.articles {
  display: flex;
  flex-direction: column;
  gap:  2.3em;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2em;
}

.articles-list img{
    width: 29em;
    height: 26em;
    object-fit: cover;
    border-radius: 2em;
 }

.articles-text{ 
    color: #023382;
    font-size: 0.9em;
    font-weight: 500;
}

.articles-lists{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    gap: 2em;
 }

 .articles-list{ 
    display: flex;
    flex-direction: column;
    gap: 1em;
 }

 .article-text{
    font-size: 1.3em;
    font-weight: bolder;
  }

  .articles-final{ 
    font-weight:500;
  }


 .articles-btn{ 
    background-color: #023382;
    font-size: 0.8em;
    font-weight: 400;
    color: white;
    border-radius: 3em;
    border: none;
    padding: 0.7em;
 }



 @media (max-width: 980px) {
    .articles-lists {
      gap: 3em;
    }

    .articles-final{ 
        border-bottom: 1px solid black;
    }
  }
  
  @media (max-width: 911px) {
    .articles-lists {
      display: grid;
      grid-template-columns: (3, 1fr);
      align-items: center;
      justify-content: center;
      align-content: center;
      padding: 0.5em;
    }
  
    .articles-list {
      max-width: fit-content;
    }
  }
  
  @media (max-width: 500px) {
    .articles-lists {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1em;
    }
  }
  