DB_URL = "mongodb+srv://faozan:DZCakLfyqHavb21C@cluster0.qve6egb.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
PORT = 8000
APP_NAME = "MedCon"
APP_ENV = "local"
APP_SECRET = "secret"

PAYSTACK_PUBLIC_KEY = ""
SUB_PRICE = 1500
EMAIL = "secret"
PASSWORD = "secret"