.about-me {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  background-color: white;
  padding: 1em;
  border-radius: 20px;
}


.about-me textarea {
  border-radius: 20px;
  border: none;
  outline: none;
  height: 100%;
  padding: 1em;
  font-size: 0.9em;
}

.about-me label {
  color: black;
  font-size: 0.9em;
  font-weight: 500;
}


@media (max-width: 455px) {
  .others-form {
    border-radius: 0;
  }
}