.signs-doctors {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
  max-height: fit-content;
}

.signs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  max-height: fit-content;
  width: 40em;
}

.sign-in-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0 0.5em 0;
}

.sign-in-header h1 {
  font-size: 1.9em;
}

.sign-in-header span {
  font-size: 0.93em;
  font-weight: normal;
}

.sign-in-form {
  width: 100%;
}

.form-input {
  display: flex;
  align-items: center;
  border: 1px solid #d3d3d3;
  padding: 0.8em;
  border-radius: 15px;
  width: 550px;
  margin-bottom: 1em;
  width: 100%;
}

label {
  font-size: 0.93em;
  font-weight: 500;
  margin-bottom: 0.2em;
  display: block;
}

.form-input img {
  margin-right: 8px;
  scale: 0.8;
}

.form-input input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.93em;
}

.terms {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1.5em;
  font-size: 0.93em;
}

.sign-buttondiv {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  margin-bottom: 0.6em;
}

.sign-button {
  border: 1px solid white;
  background-color: #023382;
  padding: 0.7em;
  border-radius: 50px;
  color: white;
  outline: none;
  border: none;
  width: 100%;
}

.signs-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  gap: 1em;
}

.signs-button button {
  gap: 1em;
  border-bottom: 1.5px solid blue;
}

.ball{
  color: #023382;
 }