.post {
    display: flex;
    flex-direction: column;

    padding: 1rem;

    border: 1px solid #e3e3e3;
    border-radius: 16px;
    flex-grow: 1;

    cursor: pointer;
}

.post-post-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.post-post-author {
    font-size: 0.85rem;


    color: #969393;
    margin-top: -0.3rem;
    margin-bottom: 1rem;
}

.post-post-desc {
    font-size: 0.9rem;
    min-width: 100%;
    max-width: 20rem;
}

.post-bottom {
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    align-items: center;
}

.post-tag {
    font-size: 0.8rem;
    color: #969393;
    cursor: pointer;
}