@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 5em;
  border-bottom: 2px solid #edeaea;
}

.navbar h1 {
  font-size: 1.3em;
  font-weight: 600;
  color: #333;
  font-family: "Goldman", sans-serif;
}

h1 span {
  color: blue;
  font-family: "Goldman", sans-serif;
  font-weight: 400;
}

.navbar ul li {
  display: flex;
  flex-direction: row;
  gap: 3em;
  cursor: pointer;
}
.navbar ul li a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;

  font-size: 0.95em;
}

.navbar ul li a:hover {
  background-color: #eee;
}

.navbar-last {
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.navbar-last span {
  color: black;
}

.navbar-last .btn {
  background-color: #00008b;
  color: #fff;
  padding: 0.8em 1em;
  border-radius: 1.2em;
  margin-left: 10px;
  padding: 0.68em;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Media query for devices with a width between 768px and 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar h1 {
    font-size: 20px;
  }

  .navbar ul li a {
    padding: 5px;
    font-size: 14px;
  }

  .navbar-last .btn {
    padding: 0.5em 0.8em;
    font-size: 12px;
  }
}

/* Media query for devices with a width less than or equal to 768px */
@media (max-width: 768px) {
  .navbar {
    padding: 0.5em;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: normal;
  }
  .navbar h1 {
    font-size: 11px;
  }

  .navbar ul li a {
    padding: 3px;
    font-size: 10px;
  }

  .navbar-last {
    gap: 0.3px;
    text-align: center;
  }

  .navbar-last span {
    font-size: 10px;
  }

  .navbar-last .btn {
    padding: 0.4em 0.7em;
    font-size: 9px;
  }
}
