@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

.navbar {
  padding: 1em 2em;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3em;
  justify-content: space-between;

  border-bottom: 2px solid #edeaea;
  position: relative;
}

.navbar-left {
  font-family: "Goldman", sans-serif;
  font-size: 1.2em;
}

.navbar-left span {
  color: #3c84fb;
  font-weight: 600;
}

.navbar-middle {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
}

.navbar-link {
  font-weight: 400;
  font-size: 0.9em;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.navbar-signin {
  color: black;
  font-size: 0.93em;
}

.navbar-get_started {
  color: white;
  background-color: #023382;
  padding: 0.8em 2em;
  border-radius: 50px;
  font-size: 0.9em;
  font-weight: 500;
}

.navbar-mobile-devices {
  display: none;
}

@media (max-width: 1186px) {
  .navbar-middle {
    flex: 0.7;
  }
}
@media (max-width: 1000px) {
  .navbar-middle {
    flex: 0.8;
  }
}
@media (max-width: 900px) {
  .navbar-middle {
    flex: 0.9;
  }
}
@media (max-width: 830px) {
  .navbar-middle {
    display: none;
  }
}
@media (max-width: 520px) {
  .navbar {
    padding: 1em;
  }
}
@media (max-width: 450px) {
  .navbar-get_started {
    display: none;
  }

  .navbar-mobile-devices {
    display: block;
    z-index: 999;
    transition: 0.2s all ease-in-out;
  }

  .navbar-mobile-devices img {
    scale: 1.5;
    cursor: pointer;
  }

  .navbar {
    padding: 1em 0;
  }

  .navbar-left {
    margin-left: 1em;
  }

  .navbar-right {
    margin-right: 1em;
  }
}

.navbar-modal {
  position: absolute;
  width: 100vw;
  height: 50vh;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 23;
}

.navbar-modal img {
  scale: 1.5;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 24;

  cursor: pointer;
}

.navbar-mobile-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

.navbar-link-mobile {
  font-size: 1em;
  cursor: pointer;
  font-weight: 500;
}
