.doctor-register {
  /* outline: 1px solid red; */
  padding: 4em 2em;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.doctor-container {
  width: 80%;
  /* outline: 6px solid red; */
  padding: 2em;
  border-radius: 20px;

  display: grid;
  grid-template-columns: 1fr 3.5fr;
  gap: 2em;
  background-color: #033a95;

  position: relative;
}

.doctor-container .error-message {
  color: red;
  position: absolute;
  left: 4em;
  top: 2.5em;
}

.nav-tabs {
  /* outline: ; */
  border-radius: 20px;
  background-color: #edeaea;
  padding: 0.5em 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /* outline: 1px solid red; */
}

.nav-item {
  /* background-color: white; */
  transition: 0.2s all ease-in-out;
  border-radius: 15px;
  padding: 2em 0.5em;
  height: 6em;
  cursor: pointer;

  /* height: 5em; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* outline: 1px solid red; */
}

.nav-item a {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.nav-item a span {
  font-size: 1em;
  font-weight: 500;
}

.custom-date-input {
  border: 1px solid #edeaea;
  padding: 0.6em 1em;
  border-radius: 20px;
  font-size: 0.93em;
}

.work-button-cont {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work-button-cont button {
  color: #033a95;
  background-color: white;
  padding: 0.8em 1.8em;
  font-size: 0.9em;
  border-radius: 20px;
  font-weight: 500;
}

.work-button-cont button:disabled {
  cursor: not-allowed;
}
/* Media Queries */

/* For screens with a maximum width of 1024px */

@media (max-width: 1393px) {
  .doctor-register {
    padding: 4em 2em;
  }

  .doctor-container {
    width: 90%;
  }
}
@media (max-width: 1237px) {
  .doctor-container {
    width: 100%;
  }
}
@media (max-width: 1050px) {
  .doctor-container {
    grid-template-columns: 1fr 3fr;
  }
}
@media (max-width: 980px) {
  .doctor-container {
    grid-template-columns: 1fr;
  }

  .nav-tabs {
    display: none;
  }
}

@media (max-width: 455px) {
  .doctor-register {
    padding: 0;
    border-radius: 0px;
    border: none;
  }
  .doctor-container {
    padding: 0 0 1em 0;
    border-radius: 0;
    border: none;
  }

  .work-button-cont {
    padding: 0 1em;
  }
}
