.home {
  display: flex;
  gap: 1em;
  height: 100vh;
  padding: 1.3em;
}

.home h1 {
  font-weight: bolder;
}

.home span {
  font-weight: 300;
}

.boxes {
  display: flex;
  width: 100%;
  flex: 1;

  flex-direction: column;
  gap: 1em;
}

.home-last {
  border-radius: 2em;
  align-items: center;
  width: max-content;
  margin: 1.4em 0;
  gap: 2px;
  padding: 0.4em;
  display: flex;
  box-shadow: inset 0 0 10px rgba(71, 66, 66, 0.8);
}

.home-last img {
  height: 50px;
  width: 50px;
}

.home-lasts {
  font-size: 15px;
  padding: 10px;
}

.boxes .box {
  position: relative;
  gap: 1em;
  text-align: start;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(107, 105, 105, 0.8);
}

.boxes .box img {
  height: 17px;
  width: 17px;
  margin: 0.3em;
}

.boxes .box:nth-child(1) {
  padding: 1em;
  top: -80px;
  left: 140px;
}

.boxes .box:nth-child(2) {
  padding: 1em;
  left: 40px;
  top: -50px;
}

.boxes .box:nth-child(3) {
  padding: 1em;
  left: 150px;
  top: -20px;
}

.right {
  flex: 1;
  display: flex;
  padding: 2em;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  margin-top: -220px;
  width: 500px;
  height: 450px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .home-last img {
    height: 40px;
    width: 40px;
  }

  .home-lasts {
    font-size: 12px;
  }

  .boxes .box img {
    height: 15px;
    width: 15px;
  }

  .left img {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .home {
    flex-direction: column;
    padding: 0.4em;
  }

  .right {
    width: 100%;
  }

  /* .boxes {
    flex-direction: row;
    gap: 0.5em;
  } */

  /* .boxes .box {
    width: 200px;
  } */

  .boxes .box:nth-child(1) {
    top: 0;
    left: 0;
  }

  .boxes .box:nth-child(2) {
    left: 50px;
  }

  .boxes .box:nth-child(3) {
    left: 100px;
  }

  .left img {
    width: 300px;
    height: 300px;
    margin: 0;
  }
}
