.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 2em;
}

.home-left {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  width: 80%;
  padding: 2em;
}

.home-big-text {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 130%;
  color: black;
}

.home-right img {
  /* scale: 0.95; */
}

.home-small-text {
  font-size: 0.95em;
  color: black;
}

.absolute-container {
  display: flex;
  flex-direction: row;
  margin-top: 1em;

  align-items: center;
}

.absolute-container img {
  scale: 0.9;
}

.minus-margin {
  margin-left: -2em;
}

.absolute-cont-end-div {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.home-first-text {
  font-size: 1.1em;
  font-weight: 600;
}

.home-second-text {
  font-size: 0.9em;
}

.home-button-div {
  display: flex;
  flex-direction: row;
  gap: 4em;
  margin-top: 1em;
}

.home-first-button {
  background-color: #023382;
  color: white;
  border-radius: 50px;
  font-size: 0.9em;
  padding: 1em 2em;
  cursor: pointer;
}

.home-first-button:hover {
}

.home-second-button {
  background-color: white;
  color: black;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
  padding: 1em 2em;
}

.home-second-button {
}

.fast-and-simple-outer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


}

.fast-and-simple-container {
  margin-top: 5em;
  width: 85%;
}