/* everything should be in em, except maybe border radius and thickness of border or outline */

.container{ 
  max-width: 1250px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}


.second{
  display: flex;
  gap: 2rem;
 }

a{ 
  color: rgb(192, 120, 69);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}