/* BASIC FORM STYLES */
.basic-form {
  padding: 2em 1em;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  border-radius: 20px;
}

.basic-form form {
  width: 90%;
}

.photo-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5em;
  position: relative;
}

.photo-form img {
  height: 10em;
  width: 10em;

  max-height: 8em;
  max-width: 8em;

  object-fit: cover;
  border-radius: 50%;
}

.basic-form_file {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.photo-form span {
  margin-top: 0.5em;
  font-weight: 500;
  text-align: center;
}

.name-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;

  width: 100%;
}

.name-form_div {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  max-width: 100%;
}

.name-form_div label {
  font-size: 0.9em;
  font-weight: 500;
}
.name-form_div input {
  border-radius: 20px;
  outline: 1px solid #d3d3d3;
  color: #d3d3d3;
  padding: 0.8em 1em;
  font-size: 0.9em;

  width: 100%;
}

.name-form_div input::placeholder {
  color: #d3d3d3;
}
.gender-form {
  width: 100%;
  /* margin-bottom: 0.75em; */

  position: relative;
  display: inline-block;
  width: 100%;
}

.basic-form-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 0.8em 2em 0.8em 1em;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  font-size: 0.9em;
  color: #d3d3d3;
  /* font-weight: 400; */
  cursor: pointer;
}

.gender-form label {
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 0.2em;
}

.location-form {
  /* margin-bottom: 0.75em; */
}

.location-form label {
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 0.2em;
}

.location-mini_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.trade {
  min-width: 50%;
}

.date-of-birth-form label {
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 0.2em;
}

.date-of-birth-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
}

.date-of-birth-option {
  min-width: 33.33%;
}

.buttons-container {
  margin-top: 3em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.location-mini_left {
  position: relative;
}

.location-mini_right {
  position: relative;
}

.date-of-birth-mini {
  position: relative;
}

.custom-dropdown {
  -webkit-appearance: none; /* Remove default arrow in WebKit browsers */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow in other browsers */
  padding: 10px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Add border styling */
  background-color: #fff; /* Set background color */
  /* color: #333; Set text color */
  /* Add any other styles you want to customize */
}

/* Style the dropdown arrow for IE/Edge */
.custom-dropdown::-ms-expand {
  display: none;
}

@media (max-width: 720px) {
  .basic-form {
    padding: 1em;
  }
}

@media (max-width: 645px) {
  .name-form {
    grid-template-columns: 1fr;
    gap: 0em;
  }
}
@media (max-width: 575px) {
  .basic-form {
    padding: 1em 0em;
    width: 100%;
  }

  body {
    font-size: 13px;
  }
}

@media (max-width: 455px) {
  .basic-form {
    border-radius: 0;
  }
}

